/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
|
| All main styles for main frontend.
|
*/
a {
  outline: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input {
  cursor: pointer;
}

.container--main {
  padding-top: 80px;
  padding-bottom: 50px;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
| All header styles for main frontend.
|
*/


/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
| All content styles for main frontend.
|
*/
#forkme {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
}
@media screen and (max-width: 480px)
{
  #forkme {
    height: 100px;
    width: 100px;
  }
}

#forkme img {
  height: auto;
  width: 100%;
}

.preview-image-wrapper {
  text-align: right;
}

.fit-size-container {
  padding-top: 6px;
}
#fitToSize {
  margin-top: 0;
  height: 25px;
  width: 25px;
  opacity: 0;
}
#fitToSizeIcon {
  color: #6c757d;
}
#fitToSizeIcon.active {
  color: #007bff;
}

#changeSizeOptions,
#setFilterOptions {
  margin-top: 15px;
  display: none;
}

#setFilterOptions .col-6 {
  padding-top: 5px;
  padding-bottom: 5px;
}
#setFilterOptions .col-6 .card {
  min-height: 130px;
}

#download {
  display: none;
}

#uploadedImage,
#optimizedImage {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #343a40;
  margin: 20px 0;
  height: 300px;
  cursor: pointer;
}

#io-loader {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1120;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

#io-loader .loader {
  background-image: url('/imageoptimize/assets/application/images/loader.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.alert {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1110;
}
.alert button.close {
  outline: 0;
}

.form-row > .col, .form-row > [class*="col-"] {
  padding: 5px;
}
.card {
  height: 100%;
  margin-bottom: 10px;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
| All footer styles for main frontend.
|
*/
.footer {
  font-size: 13px;
  padding: 6px;
}
